body {
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    color: $text;
    font-family: $font-1;
    background-color: $bg;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading;
    font-weight: 400;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    @include transition;
}

input,
textarea,
button {
    padding: 10px 25px;
    border: 1px solid $border;
    outline: none;
    @include transition;
    &:focus {
        outline: none;
        border-color: $primary;
    }
}


/*Hide number spin button*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.common {
    &-svg {
        display: inline-block;
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;
    }
    &-row {
        --bs-gutter-x: 32px;
        margin-bottom: calc(var(--bs-gutter-x) * -1);
        @include mmd {
            --bs-gutter-x: 24px;
        }
        &>div {
            margin-bottom: var(--bs-gutter-x);
        }
    }
    &-padding {
        --padding-y: 120px;
        --padding-x: 0;
        padding: var(--padding-y) var(--padding-x);
        @include xl {
            --padding-y: 100px;
        }
        @include lg {
            --padding-y: 80px;
        }
        @include md {
            --padding-y: 60px;
        }
        @include sm {
            --padding-y: 50px;
        }
        &-top {
            padding-top: var(--padding-y);
        }
    }
    &-title {
        margin-bottom: 60px;
        @media (min-width: 1440px) {
            padding: 0 4%;
        }
        @include md {
            margin-bottom: 40px;
        }
        @include sm {
            margin-bottom: 30px;
        }
        & h2 {
            @include font-68;
        }
        & p {
            @include font-20;
        }
    }
}

a {
    display: inline-block;
}

.btn {
    --bs-btn-padding-x: 33.5px;
    --bs-btn-padding-y: 16px;
    --bs-btn-color: #000;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: #B0B0B0;
    --bs-btn-font-size: 16px;
    --bs-btn-border-radius: 8px;
    line-height: 150%;
    border-radius: 8px;
    background: #FFF;
    gap: 8px;
    @include mmd {
        --bs-btn-padding-x: 30px;
        --bs-btn-padding-y: 14px;
    }
    @include sm {
        --bs-btn-font-size: 18px;
        --bs-btn-padding-x: 30px;
        --bs-btn-padding-y: 16px;
    }
    &:hover {
        background-color: $primary !important;
        border-color: $secondary !important;
        color: $black;
    }
    &.bg-primary {
        border-color: $primary !important;
        color: $secondary !important;
        &:hover {
            background-color: transparent !important;
            color: $primary !important;
        }
    }
    &.bg-transparent {
        border-color: $primary !important;
        color: $primary !important;
        &:hover {
            background-color: $primary !important;
            color: $secondary !important;
        }
    }
}

.container {
    @media only screen and (min-width: 1600px) {
        max-width: 1552px;
    }
}

// social 
.social {
    &-list {
        gap: 14px;
    }
    &-link {
        --width: 68px;
        width: var(--width);
        height: var(--width);
        font-size: 32px;
        color: $black;
        border-radius: 100px;
        background: $white;
        @include transition;
        @include sm {
            --width: 44px;
        }
        & svg {
            @include sm {
                font-size: 24px;
            }
        }
        &:hover {
            background-color: $primary;
        }
    }
}

#root {
    overflow: hidden;
}