// @import url('https://fonts.cdnfonts.com/css/sansation-light');
@import url(https://db.onlinewebfonts.com/c/99f7456dfd298c4545c7687ce8d5539d?family=Sansation+Light+V3);
@import url(https://db.onlinewebfonts.com/c/adae36e9078d4f4051d17d1f52599f73?family=Tachyon+W00+Light);
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
$font-1:"Sansation Light V3",
sans-serif;
// $font-1:'Sansation Light',
// sans-serif;
//
$font-2:"Syne",
sans-serif;
//
$font-3: "Tachyon W00 Light",
sans-serif;
//
$white:#fff;
$black:#000;
$primary: #15ACFF;
$secondary: #050505;
$text:#303030;
$heading: $black;
$border:#B0B0B0;
$bg:#F5F7FA;
:root {
    scroll-behavior: auto !important;
}